.content {
    width: 1200px;
    height: 1900px;
}

.content .tab_control {
    width: 1100px;
    height: 70px;
    background: #ffffff;
    margin: 0 auto;
}

.content .tab_control li {
    float: left;
    list-style-type: none;
    width: 180px;
    height: 70px;
    text-align: center;
}

.content .tab_control li a {
    outline: 0px solid red;
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    background: #ffffff url(../img/strock.png) no-repeat 0px 60px;
}

.content .tab_control li a:hover {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    background: #ffffff url(../img/active2.png) no-repeat 0px 59px;
}

.content .product1 {
    background: #ffffff url(../img/item5.jpg);
}

.content .product2 {
    background: #ffffff url(../img/item6.jpg);
}

.content .product3 {
    background: #ffffff url(../img/item7.jpg);
}

.content .product4 {
    background: #ffffff url(../img/item2.jpg);
}

.content .product5 {
    background: #ffffff url(../img/item3.jpg);
}

.content .product6 {
    background: #ffffff url(../img/item4.jpg);
}

.content .product7 {
    background: #ffffff url(../img/item8.png);
}

.content .product8 {
    background: #ffffff url(../img/item9.jpg);
}

.content .product9 {
    background: #ffffff url(../img/item10.png);
}

.content .product10 {
    background: #ffffff url(../img/item11.png);
}

.content .product11 {
    background: #ffffff url(../img/item12.jpg);
}

.content .product12 {
    background: #ffffff url(../img/item13.png);
}

.content .product1,
.content .product4,
.content .product7,
.content .product10{
    float: left;
    margin: 50px 0 50px 50px;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
}

.content .product2,
.content .product5,
.content .product8,
.content .product11{
    float: left;
    margin: 50px 100px;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
}

.content .product3,
.content .product6,
.content .product9,
.content .product12{
    float: right;
    margin: 50px 50px 50px 0;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
}

.content * .content{
    width: 300px;
    height: 300px;
    padding-top: 50px;
}

.content * .content .toProduct {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    border-radius: 30px;
}

.content * .content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

.content * .content p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.content * .content > *{
    text-align: center;
    color: transparent;
}

.content * .content .toProduct:hover{
    color:#f44133;
}

.content * .content:hover > *{
    color: #000000;
}

.content * .content:hover > .toProduct{
    background: #b0b0b0;
    box-shadow: 0px 4px 5px 0.2px rgba(33, 33, 33, 0.35);
}


.content * .content:hover{
    background-color: rgba(250, 250, 250, 0.7);
    outline: 1px solid #a0a0a0;
}


.content * .content .toProduct:active{
    box-shadow: none;    
}

.content button {
    /*display: block;
    width: 42px;
    height: 42px;
    float: left;
    */
    width: 50px;
    margin: 50px 0 0 576px;
    /*background: transparent url(../img/refresh.png) no-repeat 50% 50%;
    */border: none;
    outline: none;
    background: transparent;
}

.content button img {
   /* width: 42px;
    height: 42px;
    */
}

.content button:hover {
    /*transform: rotate(30deg);
    */
    color:#bb1111;
}

.content button:active {
    /*transform: rotate(60deg);
    */
    font-size: 10px;
}